<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="chessbot" >

  <property name="M_PI" value="3.14159265359" />
  <property name="kinect_prefix1" value=""/>
  <property name="robot_prefix1" value=""/>
  
  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- kinect -->
  <!--<xacro:include filename="$(find chessbot_description)/urdf/kinect.urdf.xacro" />-->
  
  <!-- arm extras -->
  <xacro:include filename="$(find chessbot_description)/urdf/support_base.urdf.xacro" />

  <!-- rg2 gripper -->
  <xacro:include filename="$(find chessbot_description)/urdf/rg2.urdf.xacro" />
  
  <!-- arm -->
  <!-- we limit the first 3 joints to get a limited action space -->
  <xacro:ur5_robot prefix="${robot_prefix1}" joint_limited="true"
    shoulder_pan_lower_limit="${0}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-2.35619}" shoulder_lift_upper_limit="${0}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
  />
  
  <!-- arm extras -->
  <xacro:support_base prefix="${robot_prefix1}" kinect_prefix="${kinect_prefix1}"/>

  <!-- rg2 pipe -->
  <xacro:rg2 prefix="${robot_prefix1}"/>

  <!-- world will be root link-->
  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_chassis" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
